{% extends 'base.html' %}

{% block title %} Meu Perfil - PoupAí {% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Configurações de Perfil</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card-custom">
                <h5 class="mb-4 text-purple" style="color: #8a3be2;">Informações Pessoais</h5>
                <p><strong>Usuário: </strong>{{ user.username }}</p>
                <p><strong>E-mail: </strong>{{ user.email|default:"Não cadastrado" }}</p>

                <hr style="border-color: rgba(255, 255, 255, 0.1);">
                <button class="btn btn-outline-light btn-sm">Alterar Senha</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}